body{
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url(../Media/darkMode.svg);
    background-size: cover;
    background-repeat: no-repeat;
}



.cME{
    margin-top: 5vh;
 margin-left: auto;
 margin-right: auto;
}

